.read-more-button {
  background-color: transparent;
  color: #1eb33f;
  border: 3px solid #1eb33f;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  width: 20%;
  overflow: hidden;
  z-index: 1; }

.navbar-default {
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid;
  border-image: url(../img/colourband.jpg) 1 stretch;
  opacity: .9; }
  .navbar-default .navbar-brand .logo {
    padding: 0;
    margin-top: -20px; }
  .navbar-default .navbar-nav > li > a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: -15px; }
    .navbar-default .navbar-nav > li > a:hover {
      background-color: transparent;
      border-bottom: 5px solid #fba400; }
  .navbar-default .navbar-nav > li > .active > a {
    background-color: transparent; }

footer, .mobile-footer {
  background: linear-gradient(rgba(251, 164, 0, 0.8), rgba(65, 135, 255, 0.8)), url(../img/map.png) center center;
  padding-top: 5%;
  padding-bottom: 5%; }
  footer .social a, .mobile-footer .social a {
    color: #e29300; }
    footer .social a:hover, .mobile-footer .social a:hover {
      text-decoration: none;
      color: #fff; }
  footer .copyright, .mobile-footer .copyright {
    margin-top: 40px; }
  footer table .footer-table, .mobile-footer table .footer-table {
    border-right: 1px solid transparent; }
    footer table .footer-table .follow, .mobile-footer table .footer-table .follow {
      margin-right: 15px;
      color: #fff; }
  footer p, footer .copyright, .mobile-footer p, .mobile-footer .copyright {
    color: #fff;
    margin-top: 5px; }
  footer a, .mobile-footer a {
    color: #fff;
    text-decoration: none; }
    footer a:hover, .mobile-footer a:hover {
      color: #fff;
      text-decoration: none; }
  footer .white, .mobile-footer .white {
    color: #fff;
    display: block; }

.section-heading {
  border-bottom: 2px solid #fba400;
  width: 30%;
  margin: 0 auto; }

.section-heading1 {
  border-bottom: 2px solid #fba400;
  margin: 0 auto;
  width: 60%; }

p {
  font-size: 16px;
  line-height: 1.75; }

.erpnext-landing {
  height: 58.5vw;
  padding-top: 15%;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.jpg); }
  .erpnext-landing .section-heading1 {
    font-size: 58px;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 100%; }
  .erpnext-landing p {
    color: #fff;
    margin-top: 10px; }

.erpnext-description {
  margin-top: 5%; }
  .erpnext-description .solution-number {
    height: 80px;
    width: 80px;
    background-color: #fba400;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    font-size: 50px;
    padding-top: 8px;
    margin: 20px auto; }
  .erpnext-description .advantages {
    background-color: #fba400;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15%;
    margin-bottom: 15px; }
    .erpnext-description .advantages::before {
      margin-top: 15%;
      transform: rotate(-2.5deg);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      content: "";
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      background-color: #e29300;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .erpnext-description .advantages::after {
      transform: rotate(1.4deg);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      margin-top: 15%;
      content: "";
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      background-color: #e29300;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .erpnext-description .content {
    margin-top: 5%; }
  .erpnext-description .many-more {
    padding-bottom: 5%; }

.quote-circle {
  color: #fff;
  background-color: #fba400;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 20px auto 10px auto;
  border-radius: 100%;
  padding-top: 10px; }

.grey {
  color: #777;
  font-size: 16px;
  line-height: 1.75; }

.arrow {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #fba400;
  float: right;
  margin-bottom: -50px;
  margin-right: -15px;
  transition: all 0.5s ease-in-out; }
  .arrow:hover {
    margin-right: 2px;
    transition: all 0.5s ease-in-out; }

table {
  margin-top: 30px;
  margin-left: 25%; }
  table tr {
    border-bottom: 1px solid #c4c4c4; }
    table tr:last-child {
      border-bottom: 1px solid transparent; }
  table td {
    border-right: 1px solid #c4c4c4; }
    table td:last-child {
      border-right: 1px solid transparent; }

.test {
  margin-bottom: 5%; }

.testimonial-content {
  border-left: 2px solid #fba400;
  padding: 25px;
  background-color: #e6e6e6; }
  .testimonial-content p {
    font-size: 18px;
    color: #333; }
  .testimonial-content span {
    background-color: #fba400;
    padding: 10px;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: -18px;
    margin-top: -14px; }

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  width: 0;
  font-size: 20px;
  color: #777;
  text-align: center;
  text-shadow: none;
  background-color: none;
  filter: alpha(opacity=50);
  opacity: .5; }
  .carousel-control:hover {
    color: #333; }

.pat-on-the-back .panel {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 2px solid #6e412e;
  margin-bottom: 0px; }
  .pat-on-the-back .panel .panel-body {
    color: #956100;
    font-style: italic;
    line-height: 1.5;
    padding: 20px; }
.pat-on-the-back .img-center {
  position: relative;
  margin: 0 auto; }

.ms-left .section2-left, .ms-left .section3-left, .ms-left .section5-left, .ms-left .section6-left, .ms-left .section7-left {
  position: relative;
  left: 100%;
  overflow: hidden; }
  .ms-left .section2-left .span-solution, .ms-left .section2-left .span-testimonial, .ms-left .section2-left .span-partners, .ms-left .section2-left .span-contact, .ms-left .section3-left .span-solution, .ms-left .section3-left .span-testimonial, .ms-left .section3-left .span-partners, .ms-left .section3-left .span-contact, .ms-left .section5-left .span-solution, .ms-left .section5-left .span-testimonial, .ms-left .section5-left .span-partners, .ms-left .section5-left .span-contact, .ms-left .section6-left .span-solution, .ms-left .section6-left .span-testimonial, .ms-left .section6-left .span-partners, .ms-left .section6-left .span-contact, .ms-left .section7-left .span-solution, .ms-left .section7-left .span-testimonial, .ms-left .section7-left .span-partners, .ms-left .section7-left .span-contact {
    display: block; }
.ms-left .fullscreen {
  position: relative;
  width: 200%;
  height: 100%;
  z-index: 1;
  display: block;
  left: -100%;
  overflow: hidden; }
.ms-left .screen {
  position: relative;
  right: -50%; }
  .ms-left .screen .inner-section .box {
    background-color: rgba(47, 44, 39, 0.8);
    padding: 20px;
    margin-top: -48%;
    margin-left: 8%; }
  .ms-left .screen .inner-section .box-text {
    color: #fff;
    font-size: 23px;
    line-height: 1.6; }
.ms-left .section4-left {
  position: relative;
  left: 100%;
  overflow: hidden; }

.ms-right .section2-right, .ms-right .section3-right, .ms-right .section5-right, .ms-right .section6-right, .ms-right .section7-right {
  position: relative;
  left: -99.7%;
  overflow: hidden; }
.ms-right .fullscreen {
  position: relative;
  width: 200%;
  height: 100%;
  z-index: 1;
  display: block;
  overflow: hidden; }
.ms-right .screen {
  position: relative;
  left: -50%; }
.ms-right .span-solution, .ms-right .span-testimonial, .ms-right .span-partners, .ms-right .span-contact {
  display: block; }
.ms-right .section4-right {
  position: relative;
  left: -153.9%;
  overflow: hidden; }

footer .social li {
  height: 50px;
  width: 50px;
  background-color: #ddd;
  color: #fff;
  font-size: 20px;
  padding-top: 13px;
  text-align: center;
  border-radius: 100%; }
  footer .social li:hover {
    background-color: #fba400; }
footer .industrial-partners .col-xs-3 {
  border-right: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px; }

#scroll-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  color: #fba400;
  margin-top: -73.5px;
  right: 3%; }
  #scroll-nav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #scroll-nav li a {
      display: block;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      cursor: pointer;
      text-decoration: none; }
  #scroll-nav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #333;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    background: transparent; }

.mobile-landing-section {
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px; }

.mobile-wrapper {
  display: none; }

@media screen and (max-width: 768px) {
  html, body {
    overflow: auto; }

  #multiscroll {
    display: none; }

  .mobile-wrapper {
    display: block; }

  #scroll-nav {
    display: none; }

  p {
    font-size: 12px; }

  h1 {
    font-size: 30px; }

  img {
    padding-top: 10px; }

  section {
    padding-bottom: 5%; }

  table {
    margin-left: 0; }

  .read-more-button {
    width: 30%;
    padding: 5px; }

  .erpnext-landing {
    padding-top: 120px;
    padding-bottom: 100px;
    height: auto; }
    .erpnext-landing .section-heading1 {
      font-size: 40px; }

  h3 {
    text-align: center; }

  .erpnext-description .section-heading1 {
    font-size: 30px; }

  footer h2, .mobile-footer h2 {
    padding-top: 5px;
    font-size: 24px; }
  footer h4, .mobile-footer h4 {
    text-align: center; }
  footer .social li, .mobile-footer .social li {
    height: 30px;
    width: 30px;
    padding-top: 5px;
    font-size: 15px; }

  .screen {
    position: relative; }
    .screen .inner-section .box {
      background-color: rgba(47, 44, 39, 0.8);
      padding: 20px;
      margin-top: -120%;
      margin-left: 8%;
      width: 65%; }
    .screen .inner-section .box-text {
      color: #fff;
      font-size: 15px;
      line-height: 1.6; }
    .screen img {
      height: 100%; }

  .section-heading, .section-heading1 {
    padding-top: 20px; }

  .span-solution, .span-testimonial, .span-partners, .span-contact {
    display: block; }

  .panel {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 2px solid #6e412e;
    margin-bottom: 30px; }
    .panel .panel-body {
      color: #956100;
      font-style: italic;
      line-height: 1.5;
      padding: 20px; }

  .mobile-clientele-section {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/7804112_m.jpg) center center; }

  .mobile-testimonials {
    background: url(../img/pattern1.png) center center; }

  .mobile-pat-on-the-back {
    background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../img/00414103.jpg); } }
@media screen and (max-width: 414px) {
  .screen .inner-section .box {
    margin-top: -220%;
    width: 80%; }

  .mobile-pat-on-the-back .panel-body img {
    margin: 0 auto; }
  .mobile-pat-on-the-back .panel-body h4 {
    text-align: center; } }

/*# sourceMappingURL=all.css.map */
