.navbar-default{
	padding: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 5px solid;
	border-image: url(../img/colourband.jpg) 1 stretch;
	opacity: .9;
}

.navbar-brand .logo{
	padding: 0;
	margin-top: -20px;
}

.navbar-default .navbar-nav>li>a{
	color: #333;
	text-decoration: none;
}

/*.screen img{
	height: 100%;
}*/

.inner-section h3{
	position: relative;
	background-color: rgba(47, 44, 39, 0.8);
	padding: 20px;
}


.ms-left .fullscreen{
    position: relative;
    width: 200%;
    height: 100%;
    z-index: 1;
    display: block;
    left: -100%;
    overflow: hidden;
}

.ms-right .fullscreen{
    position: relative;
    width: 200%;
    height: 100%;
    z-index: 1;
    display: block;
    overflow: hidden;
}

.ms-left .section2-left .fullscreen{
	position: relative;
	margin-left: 100%;
	overflow: hidden;
}

.ms-right .section2-right .fullscreen{
	position: relative;
	left: -99.9%;
}

.ms-right .screen{	
	position: relative;
	left: -50%;
}

.ms-left .screen{
	position: relative;
	right: -50%;
}	

.ms-left .section2-left{
	overflow: hidden;
}

.ms-right .section2-right{
	overflow: hidden;
}

