.section-heading{
	border-bottom: 2px solid $orange;
    width: 30%;
    margin: 0 auto;
}

.section-heading1{
	border-bottom: 2px solid $orange;
    margin: 0 auto;
    width: 60%;
}

p{
	font-size: 16px;
	line-height: 1.75;
}