footer,.mobile-footer{
	background: linear-gradient(rgba(251, 164, 0, 0.8), rgba(65, 135, 255, 0.8)), url(../img/map.png) center center;
	padding-top: 5%;
	padding-bottom: 5%;
	.social{
		a{
			color: $mango;
			&:hover{
				text-decoration: none;
				color: $white;
			}
		}
	}
	.copyright{
		margin-top: 40px;
	}
	table{
		.footer-table{
			border-right: 1px solid transparent;
			.follow{
				margin-right: 15px;
				color: $white;
			}
		}	
	}
	p,.copyright{
		color: $white;
		margin-top: 5px;
	}
	a{
		color:$white;
		text-decoration: none;
		&:hover{
			color:$white;
			text-decoration: none;
		}
	}
	.white{
		color: $white;
		display: block;
	}
}