.navbar-default{
	padding: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 5px solid;
	border-image: url(../img/colourband.jpg) 1 stretch;
	opacity: .9;
	.navbar-brand{
		 .logo{
			padding: 0;
			margin-top: -20px;
			}
		}	
	.navbar-nav>li>a{
		color: $black;
		text-decoration: none;
		background-color: transparent;
		margin-bottom: -15px;
		&:hover{
			background-color: transparent;
			border-bottom: 5px solid $orange;
		}
	}
	.navbar-nav>li>.active>a{
		background-color: transparent;
	}			
}