.erpnext-landing{
	height: 58.5vw;
	padding-top: 15%;
	background-repeat: no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.jpg);
	.section-heading1{
		font-size: 58px;
		border-bottom: 2px solid $white;
		color: $white;
		width: 100%;
	}
	p{
		color: $white;
		margin-top: 10px;
	}
}

.erpnext-description{
	margin-top: 5%;
	.solution-number{
		height: 80px;
		width: 80px;
		background-color: $orange;
		text-align: center;
		border-radius: 100%;
		color: $white;
	    font-size: 50px;
	    padding-top: 8px;
	    margin: 20px auto;
	}
	.advantages{
		background-color: $orange;
		color: $white;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 15%;
		margin-bottom: 15px;
		&::before{
			margin-top: 15%;
		    transform: rotate(-2.5deg);
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
			content: "";
			width: 100%;
			height: auto;
			position: absolute;
			z-index: -1;
			background-color: #e29300;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&::after{
			transform: rotate(1.4deg);
    		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
			margin-top: 15%;
			content: "";
			width: 100%;
			height: auto;
			position: absolute;
			z-index: -1;
			background-color: #e29300;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	.content{
		margin-top: 5%;
	}
	.many-more{
		padding-bottom: 5%;
	}
}