
// Common styling for both section start
.quote-circle{
	color: $white;
	background-color: $orange;
	height: 50px;
	width: 50px;
	text-align: center;	
	font-size: 20px;
	position: relative;
	margin: 20px auto 10px auto;
	border-radius: 100%;
	padding-top: 10px;		
}
.grey{
	color: $grey;
	font-size: 16px;
	line-height: 1.75;
}

.arrow{
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid $orange;
    float: right;
    margin-bottom: -50px;
    margin-right: -15px;
    transition: all 0.5s ease-in-out;
    &:hover{
    	margin-right: 2px;
    	transition: all 0.5s ease-in-out;
    }
}

table{
	margin-top: 30px;
	margin-left: 25%;
	tr{
		border-bottom: 1px solid $light-grey;
		&:last-child{
			border-bottom: 1px solid transparent;
		}
	}
	td{
		border-right: 1px solid $light-grey;
		&:last-child{
			border-right: 1px solid transparent;
		}
	}
}

.test{
	margin-bottom: 5%;
}

.testimonial-content{
	border-left: 2px solid $orange;
    padding: 25px;
    background-color: #e6e6e6;
	p{
		font-size: 18px;
		color: $black;
	}
	span{
		background-color: $orange;
		padding: 10px;
		color: $white;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: -18px;
		margin-top: -14px;
	}
}

.carousel-control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    width: 0;
    font-size: 20px;
    color: $grey;
    text-align: center;
    text-shadow: none;
    background-color: none;
    filter: alpha(opacity=50);
    opacity: .5;
    &:hover{
    	color: $black;
    }
}

.pat-on-the-back{
	.panel{
	    background-color: rgba(255, 255, 255, 0.6);
	    border-radius: 10px;
	    border: 2px solid $maroon;
	    margin-bottom: 0px;	
	    .panel-body{
	    	color: $light-brown;
	    	font-style: italic;
	    	line-height: 1.5;
	    	padding: 20px;
	    }
	}
	.img-center{
		position: relative;
		margin: 0 auto;
	}
}
// Common styling for both section end

// Section left styling start
.ms-left{
	.section2-left,.section3-left,.section5-left,.section6-left,.section7-left{
		position: relative;
		left: 100%;
		overflow: hidden;
		// .solutions-heading{
		// 	border-bottom: 2px solid $orange;
		//     width: 30%;
		//     margin: 0 auto;
			.span-solution,.span-testimonial,.span-partners,.span-contact{
				display: block;
			}
		// }	
	}	
	.fullscreen{
	    position: relative;
	    width: 200%;
	    height: 100%;
	    z-index: 1;
	    display: block;
	    left: -100%;
	    overflow: hidden;
	}
	.screen{	
		position: relative;
		right: -50%;
		.inner-section{
			.box{
				background-color: rgba(47, 44, 39, 0.8);
				padding: 20px;
				margin-top: -48%;
				margin-left: 8%;
			}
			.box-text{
				color: $white;
				font-size: 23px;
				line-height: 1.6;
			}
		}
	}
	.section4-left{
		position: relative;
		left: 100%;
		overflow: hidden;
		// .clientele-heading{
		// 	border-bottom: 2px solid $orange;
		//     width: 60%;
		//     margin: 0 auto;	
		// }
		// table{
		// 	margin-left: 25%;
		// 	tr{
		// 		border-bottom: 1px solid $light-grey;
		// 		&:last-child{
		// 			border-bottom: 1px solid transparent;
		// 		}
		// 	}
		// 	td{
		// 		border-right: 1px solid $light-grey;
  //      			&:last-child{
  //   				border-right: 1px solid transparent;
  //   			}
		// 	}
		// }
	}
} 
// Section left styling end

// Section right styling start
.ms-right{
	.section2-right,.section3-right,.section5-right,.section6-right,.section7-right{
		position: relative;
		left: -99.7%;
		overflow: hidden;
	}	
	.fullscreen{
	    position: relative;
	    width: 200%;
	    height: 100%;
	    z-index: 1;
	    display: block;
	    overflow: hidden;
	}
	.screen{	
		position: relative;
		left: -50%;
	}
	// .solutions-heading{
	//     border-bottom: 2px solid $orange;
	//     width: 30%;
	//     margin: 0 auto;
		.span-solution,.span-testimonial,.span-partners,.span-contact{
			display: block;
		}
	// }
	.section4-right{
		position: relative;
		left: -153.9%;
		overflow: hidden;
		// .clientele-heading{
		// 	border-bottom: 2px solid $orange;
		//     width: 60%;
		//     margin: 0 auto;	
		// }
	}
} 
// Section right styling end
//footer 
footer{
	.social{
		li{
			height: 50px;
		    width: 50px;
		    background-color: $social;
		    color: $white;
		    font-size: 20px;
		    padding-top: 13px;
		    text-align: center;
		    border-radius: 100%;
		    &:hover{
		    	background-color: $orange;
		    }
		}
	}
	.industrial-partners{
		.col-xs-3{
		    border-right: 1px solid $white;
		    padding-top: 10px;
		    padding-bottom: 10px;
		}
	}
}

#scroll-nav{
	position: fixed;
	z-index: 100;
	top:50%;
	opacity: 1;
	color: $orange;
	margin-top: -73.5px;
	right: 3%;
	li{
		display: block;
		width: 14px;
		height: 13px;
		margin: 7px;
		position: relative;
		a{
			display: block;
			position: relative;
			z-index: 1;
			height: 100%;
			width: 100%;
			cursor: pointer;
			text-decoration: none;
		}
	}
	span{
		top: 2px;
		left: 2px;
		width: 8px;
		height: 8px;
		border: 1px solid $black;
		position: absolute;
		border-radius: 50%;
		z-index: 1;
		background: rgba(0,0,0,0);
	}
}

// Responsive css
.mobile-landing-section{
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
}

.mobile-wrapper{
	display: none;
}

