// section{
// 	padding-bottom: 30px;
// 	padding-top: 30px;
// 	height: 100%;
// }
// .screen{	
// 	position: relative;
	
// 	.inner-section{
// 		.box{
// 			background-color: rgba(47, 44, 39, 0.8);
// 			padding: 20px;
// 			margin-top: -48%;
// 			margin-left: 8%;
// 		}
// 		.box-text{
// 			color: $white;
// 			font-size: 23px;
// 			line-height: 1.6;
// 		}
// 	}
// }

// .span-solution,.span-testimonial,.span-partners,.span-contact{
// 	display: block;
// }

// table{
// 	margin-top: 30px;
// 	margin-left: 12%;
// 	tr{
// 		border-bottom: 1px solid $light-grey;
// 		&:last-child{
// 			border-bottom: 1px solid transparent;
// 		}
// 	}
// 	td{
// 		border-right: 1px solid $light-grey;
// 		&:last-child{
// 			border-right: 1px solid transparent;
// 		}
// 	}
// }

// .testimonial-content{
// 	border-left: 2px solid $orange;
//     padding: 25px;
//     background-color: #e6e6e6;
// 	p{
// 		font-size: 18px;
// 		color: $black;
// 	}
// 	span{
// 		background-color: $orange;
// 		padding: 10px;
// 		color: $white;
// 		border-radius: 100%;
// 		position: absolute;
// 		top: 50%;
// 		left: -18px;
// 		margin-top: -14px;
// 	}
// }

// .mobile-pat-on-the-back{
// 	.panel{
// 	    background-color: rgba(255, 255, 255, 0.6);
// 	    border-radius: 10px;
// 	    border: 2px solid $maroon;
// 	    margin-bottom: 0px;	
// 	    .panel-body{
// 	    	color: $light-brown;
// 	    	font-style: italic;
// 	    	line-height: 1.5;
// 	    	padding: 20px;
// 	    }
// 	}
// 	.img-center{
// 		position: relative;
// 		margin: 0 auto;
// 	}
// }

// footer{
// 	.social{
// 		li{
// 			height: 50px;
// 		    width: 50px;
// 		    background-color: $social;
// 		    color: $white;
// 		    font-size: 20px;
// 		    padding-top: 13px;
// 		    text-align: center;
// 		    border-radius: 100%;
// 		    &:hover{
// 		    	background-color: $orange;
// 		    }
// 		}
// 	}
// 	.industrial-partners{
// 		.col-xs-3{
// 		    border-right: 1px solid $white;
// 		    padding-top: 10px;
// 		    padding-bottom: 10px;
// 		}
// 	}
// }

// .mobile-clientele-section{

// }

// .carousel-control{
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 60px;
//     width: 0;
//     font-size: 20px;
//     color: $grey;
//     text-align: center;
//     text-shadow: none;
//     background-color: none;
//     filter: alpha(opacity=50);
//     opacity: .5;
//     &:hover{
//     	color: $black;
//     }
// }