@media screen and(max-width: 768px){
	html, body {
		overflow: auto;
	}
	#multiscroll{
		display: none;
	}
	.mobile-wrapper{
		display: block;
	}
	#scroll-nav {
		display: none;
	}
	p{
		font-size: 12px;
	}
	h1{
		font-size: 30px;
	}
	img{
		padding-top: 10px
	}
	section{
		padding-bottom: 5%;
	}
	table{
		margin-left: 0;
	}
	.read-more-button{
		width: 30%;
		padding: 5px;
	}
	.erpnext-landing{
		padding-top: 120px;
		padding-bottom: 100px;
		height: auto;
		.section-heading1{
			font-size: 40px;
		}
		
	}
	h3{
		text-align: center;
	}
	.erpnext-description{
		.section-heading1{
			font-size: 30px;
		}
	}
	footer,.mobile-footer{
		h2{
			padding-top: 5px;
			font-size: 24px;
		}
		h4{
			text-align: center;
		}
		.social{
			li{
				height: 30px;
			    width: 30px;
			    padding-top: 5px;
			    font-size: 15px;
			}
		}
	}
	.screen{	
		position: relative;
		.inner-section{
			.box{
				background-color: rgba(47, 44, 39, 0.8);
				padding: 20px;
				margin-top: -120%;
				margin-left: 8%;
				width: 65%;
			}
			.box-text{
				color: $white;
				font-size: 15px;
				line-height: 1.6;
			}
		}
		img{
			height: 100%;
		}
	}
	.section-heading,.section-heading1{
		padding-top: 20px;
	}
	.span-solution,.span-testimonial,.span-partners,.span-contact{
		display: block;
	}
	// .mobile-pat-on-the-back{
	.panel{
	    background-color: rgba(255, 255, 255, 0.6);
	    border-radius: 10px;
	    border: 2px solid $maroon;
	    margin-bottom: 30px;	
	    .panel-body{
	    	color: $light-brown;
	    	font-style: italic;
	    	line-height: 1.5;
	    	padding: 20px;
	    }
	}
	// .mobile-footer{
	// 	background: linear-gradient(rgba(251, 164, 0, 0.8), rgba(65, 135, 255, 0.8)), url(../img/map.png) center center;
	// }
	.mobile-clientele-section{
		background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/7804112_m.jpg) center center
	}
	.mobile-testimonials{
		background: url(../img/pattern1.png) center center;

	}
	.mobile-pat-on-the-back{
		background: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7)), url(../img/00414103.jpg)
	}
}


@media screen and(max-width: 414px){
	// .mobile-clientele-section{
	// 	img{
	// 		height: 80px;
	// 		width: 80px;
	// 	}
	// }
	.screen{
		.inner-section{
			.box{
				margin-top: -220%;
				// margin-left: 8%;
				width: 80%;
			}
		}
	}
	.mobile-pat-on-the-back{
		.panel-body{
			img{
				// width: 100%;
				margin: 0 auto;
			}
			h4{
				text-align: center;
			}
		}
	}
}

	
