$black: #333;
$white: #fff;
$orange: #fba400;
$arrow: #f19d00;
$green: #1eb33f;
$grey: #777;
$light-brown: #956100;
$blue: #4187ff;
$mango: #e29300; 
$social: #ddd;
$light-grey: #c4c4c4;
$maroon: #6e412e;